#marche{
    float: right;
    width: 50px;
    height: auto;
    margin-top: -9%;
    
  
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}
#m{
   
    display: inline-block;
    width: 80%;
    margin-right: 3%;
    height: 500px;
    
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

h1{
    color: burlywood;
    text-align: center;
   
     display: block;
     margin-top: -400px;
     margin-right: -20px;
     
}
#k{
   
    display: inline-block;
    
    width: 80%;
    vertical-align: top;
    margin-left: 20%;
    
  
}
#pour{
    display: inline-block;
    width: 20%;
    margin-right: 3%;
    height: 10px;
    
    
}
.laye,.laye3,.laye2{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}
body{
    background-image: url("ffff.png");
    background-repeat: no-repeat;
}
@media screen and (max-width:950px){
    .laye,.laye3,.laye2{
        display: block;
       

    }
    width: 100%;

    #pour{
        display: none;
       
        width: 0px;
        margin-right: 0px;
        height: 0px;
    }
    #m{
        display: none;
       
        width: 0px;
        margin-right: 0px;
        height: 0px;
    
    
    }
   
   
}
