header{
    display: flex;
   
    flex-direction: row;
    justify-content: flex-start;
     height: 100%;
     width: 100%;
}
.laye{
    display: inline-block;
}
li{
    list-style: none;
  }
  #k{
   
    padding-top: 70px;
   
    margin-left: -13%;
    margin-right: -50%;
   
    
    
   
   
   
}
p{
    
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

